body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #444;
}

a:hover, a:focus {
    color: #777;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #FFF;

}

#header {
    border-bottom: 2px solid #d9d9d9;
    min-width: 250px;
}

#header a {
    text-transform: uppercase;
    padding: 18px 15px 12px 15px;
}

#logo {
    font-size: 1.8em;
}

.navbar-toggle {
    border-color: #DDDDDD;
}

#tagline {
    text-align: center;
    color: #666;
}